SECRET_KEY=your-secret-key
DEBUG=True

DB_NAME=news_app_db
DB_USER=django_user
DB_PASSWORD=django_pass
DB_HOST=localhost
DB_PORT=3306

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password